.errorMessage {
  position: absolute !important;
  display: relative !important;
  padding: 0.25rem !important;

  margin-top: 3px;
}

.logo {
  border: none;
}

.jumbotron {
  background-image: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 300px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
  padding: 10px;
}

@media only screen and (max-width: 400px) {
  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 10px;
  }
  .jumbotron {
    background-image: url(../img/mobile-bg.jpg);
    background-size: cover;
    margin-top: 2rem;
  }
}
